.m-component-common-image {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background: #fafbfb;
  cursor: pointer;
  position: relative;
  .m-shapeModal-Status{
    z-index: 10;
    font-size: 12px;
    position: absolute;
    color: white;
    padding: 4px;
    background: #0fc58a;
    right: 0;
    bottom: 0;
  }
  .ant-image {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 100%;
    height: 100%;
    // background-color: #fff;

    &.f-height-cover {
      img {
        height: 100% !important;
        width: auto !important;
      }
    }

    &.f-width-cover {
      img {
        width: 100% !important;
        height: auto !important;
      }
    }

    .ant-image-img {
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
      display: inline-block;
      width: auto;
      max-width: 100%;
      max-height: 100%;
    }

    .ant-image-mask {
      opacity: 0;
    }
  }
}
